body{
    background-color: rgb(190, 209, 216);
}

#PalomaPaz{
    margin-left: 50px;
    width: 4cm;
}

#cielo{
    width: 500px;
    margin-left: 75px;
}


#menu {
    background: rgb(184, 125, 125);
    text-align: center;
}
#menu li{
    display: inline-block;
    color: white;
    width: 100px;
}

#menu li:hover {
    background: rgb(187, 186, 186);
}

.anchoContenedorPrincipal {
    width: 90%;
}
.centrarDiv {
    margin-left: auto;
    margin-right: auto;
}

#letraTexto{
    font-size: 5mm;
    
}