body{
 /*   background-color: rgb(190, 209, 216);*/
    background-image: url("../image/fondoClaro.png");
   
}

#ImagenCabecera {
    text-align: center;
    vertical-align: middle;
}
#cieloconPaz{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display:inline-block
}

#menu {
    background: rgb(139, 146, 214);
    text-align: center;
    font-size: 5mm;
}
#menu li{
    display: inline-block;
    color: rgb(0, 0, 0);
    width: 100px;
}

#menu li:hover {
    background: rgb(187, 186, 186);
}

.anchoContenedorPrincipal {
    width: 100%;
}
.centrarDiv {
    margin-left: auto;
    margin-right: auto;
}

#letraTexto{
    font-size: 5mm;
    margin-left: 10px;
    margin-right: 10px;
}

#formulario{
    text-align: middle;
}
#fondotexto{
    background-color: rgb(207, 240, 175); 
    margin-left: 6px;
    margin-top: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
    display: inline-block;
    
}
#fondoFormulario{
    background-color: rgb(105, 136, 146);
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
}



